<style>
	.custom-image {

		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		height: 200px;

	}
</style>

<div class='container'>
	<div class='row mt-5'>
		{{#each products}}
		<div class='col-md-4'>
			<div class='card' style='width: 18rem;'>
				<div class='card-img-top fixed-size custom-image' alt='...'
					style='background-image: url({{this.image}})'></div>
				<div class='card-body'>
					<h5 class='card-title'>{{this.name}}</h5>
					<p class='card-text'>{{this.description}}</p>
				</div>
				<div class='card-body'>
					<p>{{this.price}}</p>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>
</div>