<style>
  .MessageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 50px;
    max-width: 1000px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    height: 80%;
  }
</style>

<div class="Container">
  <div class="MessageContainer">
    <h2>Manejo de usuarios en desarrollo. Sin embargo, a los usuarios no
      administradores no se les renderizará esta sección.</h2>
  </div>
</div>